@import '../../../VariablesScss/Variables';

.skeleton_cart {
  border-color: $secondaryColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
  > * {
    opacity: 0.5;
  }
}

.skeleton_cart_img_container {
  max-width: 170px;
}
.skeleton_cart_img {
  @extend .skeleton_move;
  height: 90px;
  background-color: $secondaryColor;
  box-shadow: none;
  .skeleton_cart_circle {
    @extend .skeleton_move;
    background-color: $primaryColor;
    position: absolute !important;
    top: 1rem;
    right: 1rem;
    opacity: 0.3;
    &::before {
      background-color: #29b0ba !important;
    }
  }
}

.skeleton_cart_text {
  height: 20px;
  width: 100%;
  max-width: 150px;
  border-radius: 0.15rem;
  background-color: $secondaryColor;
  margin-bottom: 0.25rem;
  @extend .skeleton_move;
  &:last-of-type {
    max-width: 110px;
  }
}

.skeleton_cart_circle {
  background-color: $secondaryColor;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-right: 0.25rem;
  display: block;

  @extend .skeleton_move;
}
.skeleton_cart_short {
  height: 40px;
  background-color: $secondaryColor;
  max-width: 70px;
  width: 100%;
  border-radius: 0.5rem;
  display: block;
  @extend .skeleton_move;
}

.skeleton_cart_short_quantity {
  @extend .skeleton_cart_short;
  width: 100%;
  max-width: 130px;
}
.skeleton_move {
  position: relative;
  overflow: hidden;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 10%;
    animation: move 2s ease-in-out infinite;
    animation-delay: 1s;
    background-color: rgba($primaryColor, 0.05);
    transform: skewY(-30deg) rotate(45deg);
  }
}

@keyframes move {
  from {
    left: -20%;
    opacity: 0.5;
  }
  to {
    left: 120%;
    opacity: 1;
  }
}

.cart_inWishlist {
  &:hover {
  }
}
