@import '../../VariablesScss/Media';
@import '../../VariablesScss/Variables';

.tabs_item {
  display: flex;
  justify-content: space-around;
  position: relative;
}

.tabs_list_item {
  padding: 1.25rem 1rem;
  flex: 1;
  text-transform: capitalize;
  font-size: 1.1rem;
  background: none;
  border: none;
  border-bottom: 3px solid #ccc;
  white-space: nowrap;
  @include xsMedia {
    font-size: 10px !important;
    padding: 0.75rem 1rem;
  }
}

.tabs_list_container {
  @extend .tabs_item;
  justify-content: space-between;
}
.tabs_list_item_active {
  border-color: $primaryColor;
  color: $primaryColor;
  font-weight: 600;
  font-size: 1.2rem;
  @include smMedia('full') {
    font-size: 1rem;
  }
}

.tabs_list_item_dots {
  border: none;
  text-align: left;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  flex: unset;
  &:first-of-type {
    text-align: left;
  }
  &:nth-of-type(4),
  &:last-of-type {
    text-align: right !important;
  }
}

.tabs_dots_container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  span:nth-child(odd) {
    width: 18px;
    height: 18px;
    position: relative;
    @include mobileMedia {
      width: 14px;
      height: 14px;
    }
  }
}
