@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary-color: #f1a002;
  --secondary-color: #dddddd;
  --text-color: #666666;
  --bg-primary-color: #f4f4f4;
  --max-width: 1200px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  /* background-color: #e4e4e4; */
  font-family: 'Roboto', sans-serif;
  /* height: 5000px; */
}
.container {
  max-width: var(--max-width) !important;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
/* dev */
button:focus,
input:focus,
select:focus,
textarea:focus,
button:focus-within,
input:focus-within,
select:focus-within,
textarea:focus-within {
  outline: none;
}
div:has(input:required) label,
div:has(input:required) label::before,
div:has(textarea:required) label {
  position: relative;
  width: fit-content;
  display: block;
}
div:has(textarea:required) label::before,
div:has(select:required) label::before,
div:has(select:required) label::before {
  position: absolute;
  content: '*';
  color: #f00;
  right: -12px;
  top: 2px;
}

[dir='rtl'] div:has(textarea:required) label::before,
[dir='rtl'] div:has(select:required) label::before,
[dir='rtl'] div:has(select:required) label::before {
  right: unset;
  left: -12px;
}

::placeholder {
  color: #666666;
}
.browse-slide-categories {
  max-width: calc(100% - 70px);
  margin: 0 auto;
}
.winter-backdrop {
  backdrop-filter: blur(2px);
  background: #ffffff0d;
}
.full-image img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
.full-image-login img {
  width: 100% !important;
  height: 100%;
  object-fit: contain;
}

.category-paginate li {
  border: 1px solid #dfe3e8;
  background-color: #fff;
  border-radius: 0.25rem;
}
.category-paginate li a {
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: bold;
  font-size: 14px;
}
.category-paginate li.disabled {
  border: none;
  background-color: #f4f4f4;
}
.category-paginate li.disabled * {
  pointer-events: none;
}
/* dev */
.divider-vertical {
  width: 1px;
  height: 100%;
  background-color: #666666;
  min-height: 30px;
}
.divider-horizontal {
  height: 2px;
  width: 100%;
  background-color: #666666;
}
