@import '../../../VariablesScss/Media';

.offer_off {
  background-color: black;
  color: white;
  padding: 0 0.75rem;
  border-radius: 0.25rem;
  font-weight: 600;
  @include xsMedia {
    font-size: .9rem;
  }
}