.accordion {
  margin-top: 2rem;
  & + .accordion {
    margin-top: 1rem;
  }
}
.accordion_btn {
  position: relative;
  font-size: 1rem;
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  background: none;
  border: none;
}

.arrow_icon {
  position: absolute;
  top: -5px;
  right: 0;
  transform: rotate(-90deg);
  cursor: pointer;
  transition: transform 0.2s ease-out;
  svg {
    transform: scale(1.2);
    font-weight: 100;
    circle {
      display: none;
    }
    path {
      stroke-width: 2px;
      stroke: #000;
    }
  }
}

.arrow_icon_horizontal {
  @extend .arrow_icon;
  transform: rotate(-180deg);
}
